.imgs {
    display: inline-flex;
    align-items: center;
    padding: 1%;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border: solid 2px gray;
    margin-bottom: 4%;
}

.imagem {
    width: 18%;
    margin: 2%;
}

.a-img{
    width: 1000px;
}


#banner {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
    transform-origin: center;
    animation: bannerAnimation 5s infinite;
    transition: transform 0.3s ease-in-out;
  }
  
  #banner:hover {
    background-color: #e74c3c;
    transform: scale(1.1); 
  }

  @keyframes bannerAnimation {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.05); }
  }

  #img1-expanded{
    width: 60%;
  }


  @media (max-width: 1500px) {

    .imgs{
      padding: 0.5%;
      margin-bottom: 2%;
      width: 55%;
      font-size: 12px;
    }
    
  }

  @media (max-width: 1000px) {

    .imgs{
      padding: 0.5%;
      margin-bottom: 2%;
      width: 45%;
      font-size: 12px;
    }
    
  }

  @media (max-width: 700px) {

    .imgs{  
      padding: 0.5%;
      margin-bottom: 1%;
      width: 50%;
      font-size: 12px;
    }
    
  }

